<user-nav></user-nav>
<div class="container" style="padding: 20px">

  <h1 class="display-4 text-center">My Resource</h1><br> 
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Job Name</th>
        <th>Job Price</th>
        <th>Location</th>
        <th>Level</th>
        <th>Start Date</th>
        <th>Total Jobs</th>
        <th>Duration</th>
        <th>Status</th>
        <!-- <th>Action</th> -->
      </tr>

    </thead>
<tr *ngFor="let sub of sub$|async">
  <td>{{sub.post.title}}</td>
  <td>{{sub.post.price|currency}}</td>
  <td>{{sub.location}}</td>
  <td>{{sub.level}}</td>
  <td>{{sub.startDate|date}}</td>
  <td>{{sub.totalJobs}}</td>
  <td>{{sub.durationText}}</td>
  <td>{{sub.status}}</td>
  <!-- <td><button class="btn btn-primary">Payment</button></td> -->
</tr>

  </table>
</div>
