<user-nav></user-nav>
<div class="container" style="padding: 20px">

  <h1 class="display-4 text-center">My Resource</h1><br> 
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Search" (keyup)="onKey($event)">
      </div>
      </div>
      <div class="col-md-3">
          <div class="form-group">
            <button class="btn btn-primary"(click)="SearchByTitle()">Search by Job Name</button>
          </div>
    </div>
      <div class="col-md-3">
          <div class="form-group">
            <button class="btn btn-primary" (click)="SearchByStatus()">Search by Status</button>
          </div>
    </div>
  </div>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Job Name</th>
        <th>Job Price</th>
        <th>Location</th>
        <th>Level</th>
        <th>Start Date</th>
        <th>Total Jobs</th>
        <th>Duration</th>
        <th>Status</th>
         <th colspan="2">Action</th>
      </tr>

    </thead>
<tr *ngFor="let sub of sub$|async|myfilter:{title:searchStr}">
  <td>{{sub.Post.title}}</td>
  <td>{{sub.Post.price|currency}}</td>
  <td>{{sub.location}}</td>
  <td>{{sub.level}}</td>
  <td>{{sub.startDate|date}}</td>
  <td>{{sub.totalJobs}}</td>
  <td>{{sub.durationText}}</td>
  <td>{{sub.status}}</td>
  <td colspan="2"><button *ngIf="sub.status!='Cancelled'" class="btn btn-primary btn-sm" style="margin-bottom: 2px" (click)="renewSub(sub)">Renew</button>
    <button *ngIf="sub.status!='Cancelled'" class="btn btn-danger btn-sm" (click)="cancelSub(sub)">Cancel</button>
    <button class="btn btn-active btn-sm">Details</button>
  </td>
</tr>

  </table>
</div>
