<div class="container-fluid" style="padding:20px">
  <div class="row">
    <div class="col-md-8"><h3>Here are your items</h3></div>





    <div class="col-md-4"><div class="card bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header">Your Cart</div>
      <div class="card-body">
        <h5 class="card-title">Number of Items : 10</h5>
        <p class="card-text">Total Price <span>100</span></p>
        <button class="btn btn-primary">Proceed to Checkout</button>
      </div>
    </div></div>
  </div>
</div>
