<div class="container-fluid" style="padding:20px">
  <div class="row">
    <div class="col-md-8">
      <h3>Here are your items</h3>
      <div *ngFor="let item of cartItems">
          <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="..." class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>





    <div class="col-md-4"><div class="card bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header">Your Cart</div>
      <div class="card-body">
        <h5 class="card-title">Number of Items :{{cartState$|async}} </h5>
        <p class="card-text">Total Price <span>100</span></p>
        <button class="btn btn-primary">Proceed to Checkout</button>
      </div>
    </div></div>
  </div>
</div>
