<user-nav></user-nav>

<div class="container-fluid">
  <h3 class="display-4">Edit Your Profile</h3>
    <form class="well form-horizontal">
                 <fieldset>
   <div class="row">				
                  <div class="col-md-6">
          <div class="form-group">
                       <label class="col-md-4 control-label">Full Name</label>
                       <div class="col-md-8 inputGroupContainer">
                          <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input id="fullName" name="fullName" placeholder="Full Name" class="form-control" required="true" value="" type="text"></div>
                       </div>
                    </div>
        </div>
        
      <div class="col-md-6">
     Upload Document for ID verification:<input type="file" name="myFile">
        </div>
        </div> 
        
<div class="row">  
        <div class="col-md-6">
           <div class="form-group">
                       <label class="col-md-4 control-label">Company Name</label>
                       <div class="col-md-8 inputGroupContainer">
                          <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span><input id="companynm" name="cnm" placeholder="Company Name" class="form-control" required="true" value="" type="text"></div>
                       </div>
                    </div>
        </div>
        <div	class="col-md-6">
           Upload Document for Company Regn verification:<input type="file" name="myFile">
        </div>
  </div>				   
          
<div class="row">  
        <div class="col-md-6">
           <div class="form-group">
                       <label class="col-md-4 control-label">Email</label>
                       <div class="col-md-8 inputGroupContainer">
                          <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span><input id="email" name="email" placeholder="Email" class="form-control" required="true" value="" type="text"></div>
                       </div>
                    </div>
        </div>
        <div	class="col-md-6">
           <div class="form-group">
                       <label class="col-md-4 control-label">Phone Number</label>
                       <div class="col-md-8 inputGroupContainer">
                          <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span><input id="phoneNumber" name="phoneNumber" placeholder="Phone Number" class="form-control" required="true" value="" type="text"></div>                 </div>
                    </div>
        </div>
  </div>

<div class="row">
  <div class="col-md-6">
<div class="form-group">
                       <label class="col-md-4 control-label">Address Line 1</label>
                       <div class="col-md-8 inputGroupContainer">
                          <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="addressLine1" name="addressLine1" placeholder="Address Line 1" class="form-control" required="true" value="" type="text"></div>
                       </div>
                    </div>	
        </div>						 
<div class="col-md-6">
Upload Document for Address verification:<input type="file" name="myFile">
 
</div>		
</div>

<div class="row">
<div class="col-md-6">
   <div class="form-group">
                       <label class="col-md-4 control-label">City</label>
                       <div class="col-md-8 inputGroupContainer">
                          <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="city" name="city" placeholder="City" class="form-control" required="true" value="" type="text"></div>
                       </div>
                    </div>		

</div>	
<div class="col-md-6">	   	
 <div class="form-group">
                       <label class="col-md-4 control-label">State/Province/Region</label>
                       <div class="col-md-8 inputGroupContainer">
                          
                             <select class="selectpicker form-control">
                                <option>Select States</option>
                             </select>
                       </div>
                    </div>

</div> 
</div>

<div class="row">
  <div class="col-md-6">
  <div class="form-group">
                       <label class="col-md-4 control-label">Postal Code/ZIP</label>
                       <div class="col-md-8 inputGroupContainer">
                          <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="postcode" name="postcode" placeholder="Postal Code/ZIP" class="form-control" required="true" value="" type="text"></div>
                       </div>
                    </div>
</div>
<div class="col-md-6">
  <div class="form-group">
                       <label class="col-md-4 control-label">Country</label>
                       <div class="col-md-8 inputGroupContainer">
                          <div class="input-group">
                             <span class="input-group-addon" style="max-width: 100%;"><i class="glyphicon glyphicon-list"></i></span>
                             <select class="selectpicker form-control">
                                <option>A really long option to push the menu over the edget</option>
                             </select>
                          </div>
                       </div>
                    </div>			
</div>
</div>    

     <div class="col-md-8" style="text-align: center">

       <a href="" class="btn btn-primary">Save</a>
      </div>
      <br>
                   
                 </fieldset>
              </form>
             </div> 