<user-nav></user-nav>
<loader></loader>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="display-4">Edit Your Profile</h3>
    </div>
  </div>
  &nbsp;
  <div class="well">

    <form class="form-horizontal" [formGroup]="profileForm">
      <fieldset>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-4 control-label"><b>Full Name</b><i class="fa fa-check" *ngIf="currentUser.firstname"
                  aria-hidden="true" style="color:green;font-size: 20px;"></i></label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i
                      class="glyphicon glyphicon-user"></i></span><input id="firstname" placeholder="Full Name"
                    class="form-control" required="true" type="text" formControlName="firstname"
                    [value]="currentUser.firstname?currentUser.firstname:null">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-4 control-label">Email</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i
                      class="glyphicon glyphicon-envelope"></i></span><input id="email" placeholder="Email"
                    class="form-control" required="true" disabled="true" type="text" formControlName="email"
                    [value]="currentUser.email?currentUser.email:null"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- Last name added -->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-4 control-label"><b>Last Name</b><i class="fa fa-check" *ngIf="currentUser.lastname"
                      aria-hidden="true" style="color:green;font-size: 20px;"></i></label>
                  <div class="col-md-8 inputGroupContainer">
                    <div class="input-group"><span class="input-group-addon"><i
                          class="glyphicon glyphicon-user"></i></span><input id="lastname" placeholder="Last Name"
                        class="form-control" required="true" type="text" formControlName="lastname"
                        [value]="currentUser.lastname?currentUser.lastname:null">
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <!-- last name added -->

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-4 control-label">Company Name <i class="fa fa-check" *ngIf="currentUser.companyName"
                  aria-hidden="true" style="color:green;font-size: 20px;"></i></label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i
                      class="glyphicon glyphicon-envelope"></i></span><input id="companynm" placeholder="Company Name"
                    class="form-control" required="true" type="text" formControlName="companyName"
                    [value]="currentUser.companyName?currentUser.companyName:null"></div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-4 control-label">Mobile <i class="fa fa-check" *ngIf="currentUser.mobile"
                  aria-hidden="true" style="color:green;font-size: 20px;"></i></label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i
                      class="glyphicon glyphicon-earphone"></i></span><input id="mobile" placeholder="Mobile"
                    class="form-control" required="true" formControlName="mobile" type="text"
                    [value]="currentUser.mobile?currentUser.mobile:null"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-4 control-label">City <i class="fa fa-check" *ngIf="currentUser.city"
                  aria-hidden="true" style="color:green;font-size: 20px;"></i></label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"></span><input id="city" placeholder="City"
                    class="form-control" required="true" formControlName="city" type="text"
                    [value]="currentUser.city?currentUser.city:null"></div>
              </div>
            </div>

          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-4 control-label">State <i class="fa fa-check" *ngIf="currentUser.state"
                  aria-hidden="true" style="color:green;font-size: 20px;"></i></label>
              <div class="col-md-8 inputGroupContainer">

                <input id="state" placeholder="State" class="form-control" required="true" type="text"
                  formControlName="state">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10">
            <div class="form-group">
              <label class="col-md-12 control-label">Address <i class="fa fa-check" *ngIf="currentUser.address"
                  aria-hidden="true" style="color:green;font-size: 20px;"></i></label>
              <div class="col-md-12 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i
                      class="glyphicon glyphicon-home"></i></span><input id="addressLine1" placeholder="Address Line 1"
                    class="form-control" formControlName="address" type="text"
                    [value]="currentUser.address?currentUser.address:null"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-4 control-label">Postal Code/ZIP <i class="fa fa-check" *ngIf="currentUser.zip"
                  aria-hidden="true" style="color:green;font-size: 20px;"></i></label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i
                      class="glyphicon glyphicon-home"></i></span><input id="postcode" placeholder="Postal Code/ZIP"
                    class="form-control" required="true" formControlName="zip" type="text">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-4 control-label">Country <i class="fa fa-check" *ngIf="currentUser.country"
                  aria-hidden="true" style="color:green;font-size: 20px;"></i></label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon" style="max-width: 100%;"><i
                      class="glyphicon glyphicon-list"></i></span>
                  <input id="country" placeholder="Country Name" class="form-control" required="true" type="text"
                    formControlName="country">
                </div>
              </div>
            </div>
          </div>
        </div>
        &nbsp;

        <div class="row">
          <div class="col-md-8" style="text-align: center">

            <button class="usebtn" type="submit" (click)="formSubmit(profileForm)">Save</button>
          </div>
        </div>&nbsp;

      </fieldset>
    </form>
    <!-- ADDRESS VERIFICATION DOC -->
    <div class="row">
      <div class="col-md-10">
        <form (ngSubmit)="addressDocSubmit(addressForm)" #addressForm="ngForm">
          <span style="font-weight:bold"> Upload Document for Address verification:
            <i class="fa fa-check" *ngIf="userFiles.addressDoc" aria-hidden="true"
              style="color:green;font-size: 20px;"></i><br>
            <a *ngIf="userFiles.addressDoc" href="{{userFiles.addressDoc}}" target="_blank">View File</a>
          </span><br>
          <input [ngModel] type="file" name="image" (change)="fileSelect($event)">
          <button class="btn-primary" type="submit">Upload</button>
          <input [ngModel]="currentUser._id" type="text" name="Uid" style="display: none" />
          <input [ngModel]="'address_doc'" type="text" name="docType" style="display: none" />
        </form>
      </div>
    </div>

    &nbsp;
    <!-- ID VERIFICATION DOC UPLOAD -->
    <div class="row">
      <div class="col-md-10">
        <form (ngSubmit)="idDocSubmit(idForm)" #idForm="ngForm">

          <span style="font-weight:bold"> Upload Document for ID verification:
            <i class="fa fa-check" *ngIf="userFiles.idDoc" aria-hidden="true"
              style="color:green;font-size: 20px;"></i><br>
            <a *ngIf="userFiles.idDoc" href="{{userFiles.idDoc}}" target="_blank">View File</a>
          </span><br>
          <input type="file" name="image" (change)="fileSelect($event)">
          <button class="btn-primary" type="submit">Upload</button>
          <input [ngModel]="currentUser._id" type="text" name="Uid" style="display: none" />
          <input [ngModel]="'id_doc'" type="text" name="docType" style="display: none" />
        </form>
      </div>
    </div>
    &nbsp;
    <!-- COMPANY VERIFICATION DOC UPLOAD -->
    <div class="row">
      <div class="col-md-10">
        <form (ngSubmit)="comDocSubmit(companyForm)" #companyForm="ngForm">
          <span style="font-weight:bold"> Upload Document for Company Regn verification:
            <i class="fa fa-check" *ngIf="userFiles.comDoc" aria-hidden="true"
              style="color:green;font-size: 20px;"></i><br>
            <a *ngIf="userFiles.comDoc" href="{{userFiles.comDoc}}" target="_blank">View File</a>
          </span> <br>
          <input type="file" name="image" (change)="fileSelect($event)">
          <button class="btn-primary" type="submit">Upload</button>
          <input [ngModel]="currentUser._id" type="text" name="Uid" style="display: none" />
          <input [ngModel]="'com_doc'" type="text" name="docType" style="display: none" />
        </form>
      </div>
    </div>&nbsp;


  </div>
</div>
