<loader></loader>

<user-nav></user-nav>
<!-- <div class="container">
  <div class="panel panel-primary">
    <div class="panel-body text-center">
      <h2>Configure Your Resource</h2>
    </div>
  </div>

  <form #f="ngForm" (ngSubmit)="submit(f)">
    <div class="form-group">
      <label for="post">Select Post:</label>
      <select name="post" id="" class="form-control" (change)="onSelectChange($event)">
        <option *ngFor="let post of posts$|async" [value]="post._id">
          {{post.title}}
        </option>
      </select>
    </div>
    <div class="form-group" *ngIf="post$|async as post">
        <hr>
      <h5>Title: {{post.title}} </h5>
      <h6>Price: {{post.price|currency}}</h6>
      <p>Description : {{post.description}}</p>
      <hr>
    </div>
    <div class="form-group">
      <label for="startDate">Start Date</label>
      <input ngModel class="form-control" type="Date" name="startDate">
    </div>
    <div class="form-group">
      <label for="durationText">Duration</label>
      <select ngModel name="durationText" id="" class="form-control">
        <option value="">Select</option>
        <option value="1 Month Trail">1 Month Trail</option>
        <option value="3 Months">3 Months</option>
        <option value="6 Months">6 Months</option>
        <option value="6 Months Rolling">6 Months Rolling</option>
        <option value="12 Months">12 Months</option>
        <option value="12 Months Rolling">12 Months Rolling</option>
      </select>
    </div>
    <div class="form-group">
      <label for="location">location</label>
      <select ngModel name="location" id="" class="form-control">
        <option value="">Select</option>
        <option value="Bangalore-India">Bangalore-India</option>
        <option value="London-UK">London-UK</option>
        <option value="Frankfurt-Germany">Frankfurt-Germany</option>
        <option value="Mumbai-India">Mumbai-India</option>
      </select>

    </div>

    <div class="form-group">
      <label for="level">Level</label>
      <select ngModel name="level" id="" class="form-control">
        <option value="">Select</option>
        <option value="Mid-Term">Mid-Term</option>
        <option value="Junior">Junior</option>
        <option value="Consultant">Consultant</option>
        <option value="Architect">Architect</option>
      </select>

    </div>
    <div class="form-group">
      <label for="totalJobs">Total Jobs</label>
      <select ngModel name="totalJobs" id="" class="form-control">
        <option value="">Select</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select><br>

    </div>
    <div class="form-group">
      <button class="btn btn-success center" type="submit">Submit</button>
    </div>
  </form>
</div> -->
<add-to-cart></add-to-cart>
