<loader></loader>
<admin-nav></admin-nav>
<div class="container">
<div class="text-center">
  <h3 class="display-4">Subscription Details</h3>

</div>
<table *ngIf="(Subscription$|async) as sub" class="table">
  <tr><th colspan="6" class="bg-danger">Job Information</th></tr>
  <tr>
    <th>Job Title</th>
    <th>Job Location</th>
    <th>Price</th>
    <th>Duration</th>
    <th>Level</th>
    <th>Total Jobs</th>
  </tr>
  <tr>
    <td>{{sub.Post.title}}</td>
    <td>{{sub.location}}</td>
    <td>{{sub.Post.price|currency}}</td>
    <td>{{sub.durationText}}</td>
    <td>{{sub.level}}</td>
    <td>{{sub.totalJobs}}</td>
  </tr>
  <tr><th colspan="6" class="bg-danger">Subscriber Information</th></tr>
  <tr>
  <th>First Name</th>
  <th>Last Name</th>
  <th colspan="2">Email</th>
  <th>Start Date</th>
  <th>Action</th>
</tr>
<tr>
  <td>{{sub.User.firstname}}</td>
  <td>{{sub.User.lastname}}</td>
  <td colspan="2">{{sub.User.email}}</td>
  <td>{{sub.startDate|date}}</td>
  <td><button class="btn btn-active" (click)="viewProfile(sub.User._id)">{{(showDetails?'Hide Profile':'Show Profile')}}</button></td>

</tr>
<app-admin-user-details *ngIf="showDetails" [Uid]="currentUid"></app-admin-user-details>
  <tr><th colspan="6" class="bg-danger">Assign Manager</th></tr>
 <tr><td>
   Assigned Manager :{{(sub.assignedManager!=null)?sub.assignedManager.firstName: 'Not Assigned'}} 
 </td>

   <td colspan="2">
     Select Manager :<select class="form-control"  name="" id="" [(ngModel)]="mId" (change)="selectedManagerChanged(mId)" >
       <option value="">Select</option>
<option *ngFor="let manager of (Managers$|async)" value={{manager._id}}>
  {{manager.firstName}} {{manager.lastName}}
</option>
     </select>
     <span *ngIf="ManagerCount$|async as count" style="color:red"> Currently Assigned in {{count.count}} Projects</span>

 </td>
<td>
  <button class="btn btn-primary" (click)="assignManager()"[disabled]="!mId">Assign</button>
</td>
<td>
  <button class="btn btn-danger" (click)="cancelManager()"> Cancel </button>
</td>
</tr>

</table>
</div>