<div class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <h5>Welcome {{ currentUser.firstname }}</h5>
        </div>
        <div class="col-md-8">
          <div class="subnavbar">
            <div class="subnavbar-inner">
              <div class="container">
                <ul class="mainnav">
                  <li><span (click)="setPageState('Add')">ADD JOB</span></li>
                  <li><span (click)="setPageState('EditJob')">REMOVE JOB</span></li>
                  <li><span (click)="setPageState('ViewSub')">VIEW SUBSCRIPTION</span></li>
                  <li><span (click)="setPageState('EditUser')">MANAGE USER</span></li>
                  <li><span (click)="setPageState('Notification')">NOTIFICATION</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="user">
            <button (click)="LogOut()" class="btn btn-danger"><i class="fa fa-user"></i> Logout </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-admin-post *ngIf="pageState=='Add'"></app-admin-post>
 <app-admin-subscription *ngIf="pageState=='ViewSub'"></app-admin-subscription>
