<loader></loader>
<form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f)">
  <div class="form-group">
    <label for="password">Enter New Password
      <input class="form-control" required name="password" type="password" [(ngModel)]="model.password" #pwd="ngModel">
    </label>
  </div>
  <div class="form-group">
    <label for="repassword">Re Enter New Password
      <input class="form-control" required type="password" name="repassword" [(ngModel)]="model.repassword" #rpwd="ngModel">
    </label>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-submit" (click)="Clicked(f)">Submit Password</button>
  </div>
  
</form>
