<div class="container" *ngIf="(post$|async) as post">
  <div class="row">
    <div class="col-md-2">
      <img [src]="post.imageUrl" alt="" class="img-thumbnail">
    </div>
    <div class="col-md-6">
      <h2>Name : {{post.title}}</h2>
    </div>
    <div class="col-md-4">
   <h3> Price : {{post.price|currency}}</h3> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Details:</h3>
      <p>{{post.description}}</p>
    </div>
      </div>
  <div class="row">
    <div class="col-md-12" [innerHTML]="post.details">
     
    </div>
      </div>
      <button class="btn btn-primary">Continue Without Login</button><br><br>
      <button class="btn btn-active">Continue To Login</button>

</div>