
<div class="container">
  <loader></loader>
    <h1 class="text-center"><span class="badge badge-secondary">Subscribe Your Consultant</span> </h1>
    <div class="clearfix"></div>
    <ul>
      <li *ngFor="let post of posts$|async">
          <div class="card mb-3" >
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img [src]="post.imageUrl"  class="card-img img-responsive" style="width:auto" alt="...">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h5 class="card-title " >{{post.title}}</h5>
                    <p class="card-text">Price : {{post.price|currency}}</p>
                    <p class="card-text"><small class="text-muted">{{post.description}}</small></p>
                  </div>
                </div>
                <div class="col-md-2 center-element">
                    <button class="btn btn-danger " (click)="handleClick(post)">BOOK NOW</button>
                </div>
              </div>
            </div>
    
      </li>
    </ul>
    
</div>
