<!-- addition by papia -->

   
<div class="s01">
  <div class="container">
  <div class="tagline-container"><h1>Looking for Exprienced Tech Support? Get best candidates here</h1></div>
&nbsp;

<div class="inner-form">
<div class="input-field first-wrap">
<input id="search" [(ngModel)]="searchStr" type="text" placeholder="Search with Job Name .." />
</div>          
<!-- <div class="input-field third-wrap">
<button class="btn-search" type="button">Search</button>
</div> -->
</div>

</div>
</div>


<!-- end of addition by papia  -->





<div class="container">
<loader></loader>
<h1 class="text-center"><span class="badge badge-secondary">Subscribe Your Consultant</span> </h1>
<div class="clearfix"></div>

<ul>
    <span (click)="Previous()">Previous</span><span (click)="Next()" class="pull-right">Next</span>
<li *ngFor="let post of posts$|async|postFilter:{title:searchStr}|pagination:{from:from,to:to,itemPerPage:3}">
<div class="card mb-3">
<div class="row no-gutters">
 <div class="col-md-4">
   <img [src]="post.imageUrl"  class="card-img img-responsive" alt="...">
 </div>
 <div class="col-md-4">
   <div class="card-body">
     <h5 class="card-title">{{post.title}}</h5>                   
     <p class="card-text"><small class="text-muted">{{post.description}}</small></p>
   </div>
 </div>
<div class="col-md-2 center-element">
<p class="card-text">Price : {{post.price|currency}}</p>
 </div>
 <div class="col-md-2 center-element">
     <button class="usebtn" (click)="handleClick(post)">BOOK NOW</button>
 </div>
</div>
</div>

</li>
</ul>

</div>
<!-- papia addition  -->
<section id="blog">
<div class="container">

<div class="row">
<div class="col-lg-12  text-center">  
<h2><span class="ion-minus"></span>Highlighting Jobs<span class="ion-minus"></span></h2>
<br>
</div> 
</div>  

<div class="row">

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" data-aos="fade-right" >
 <div class="blog column text-center animated wow flipInY" data-wow-delay="0.2s">
     <img src="../../assets/images/job1.jpg" alt="" width="100%">
<div class="comment">
<div class="col-sm-12">
<div class="coment-area">
<h6>$ 9200 / Month</h6>
</div>
</div>
</div>
     <h4>Lead/Architect/CTO</h4>
     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                       </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" data-aos="fade-left">
 <div class="blog column text-center animated wow flipInY" data-wow-delay="0.5s">
     <img src="../../assets/images/job3.jpg" alt="" width="100%">
<div class="comment">							
<div class="col-sm-12">
<div class="coment-area">
<h6>$ 4025 / Month</h6>
</div>
</div>
</div>
     <h4>Senior Javascript Developer</h4>
     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
    
 </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" data-aos="fade-up">
 <div class="blog column text-center animated wow flipInY" data-wow-delay="0.3s">
     <img src="../../assets/images/job2.jpg" alt="" width="100%">
<div class="comment">							
<div class="col-sm-12">
<div class="coment-area">
<h6>$ 5750 / Month</h6>
</div>
</div>
</div>
     <h4>Full Stack Javascript Developer</h4>
     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                        </div>
</div>



</div> 

</div>
</section>