.my-btn {
  background: rgb(102, 95, 95);
  color: #fff;
  padding: 10px 20px;
  margin-top: 31px;
  position: absolute;
}

.head1 {
  color: #000;
  text-align: center;
  padding: 50px 0;
}
ul {
  list-style: none;
}

.ctn {
  border-bottom: 1px solid #333;
}

.ctn img {
  height: 75px;
  width: auto;
  margin-top: 6px;
}

@media (min-width: 260px) and (max-width: 992px) {
  .my-btn {
    padding: 4px 11px;
    margin-top: 0;
  }

  .ctn {
    height: 200px;
  }
}
