<div class="container">
  <div class="login-form" >
    <form #f="ngForm" (ngSubmit)="submit(f)">
        <h3 class="text-center display-4">Add Job</h3>       
        <div class="form-group">
            <input ngModel type="text" name="title" class="form-control" placeholder="Title" required="required">
        </div>
        <div class="form-group">
            <input type="text" ngModel name="description" class="form-control" placeholder="Description" required="required">
        </div>
        <div class="form-group">
          <input type="number" ngModel name="price" class="form-control" placeholder="price" required="required">
      </div>
      <!-- <div class="form-group">
        <label for="Image">Insert Image Url</label>
        <input type="file" id="file" name="myFile" (change)="handleFileInput($event.target.files)">

      </div> -->
      <div class="form-group">
        <input type="text"ngModel name="imageUrl" class="form-control" placeholder="Insert Image Url" required="required">
      </div>
      <div class="form-group">
        <ckeditor (change)="getData($event)" name="details" [(ngModel)]="ckeditorContent"></ckeditor>
      </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Create Post</button>
        </div>
       
    </form>
    
  </div>

</div>