<div class="container">
  <div class="login-form" >
    <form #f="ngForm" (ngSubmit)="submit(f)">
        <h2 class="text-center">Add post</h2>       
        <div class="form-group">
            <input ngModel type="text" name="title" class="form-control" placeholder="Title" required="required">
        </div>
        <div class="form-group">
            <input type="text" ngModel name="description" class="form-control" placeholder="Description" required="required">
        </div>
        <div class="form-group">
          <input type="number" ngModel name="price" class="form-control" placeholder="price" required="required">
      </div>
      <div class="form-group">
        <input type="file" id="file" name="myFile" (change)="handleFileInput($event.target.files)">

      </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Create Post</button>
        </div>
        <label for="file">Choose File</label>
        <div class="clearfix text-center">
            <!-- <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label> -->
            <a href="#" class="">Forgot Password?</a>
        </div>        
    </form>
    <p class="text-center"><a href="#">Create an Account</a></p>
  </div>

</div>