.form1{
    background: #ddd;
    padding: 45px 20px;
    margin-bottom: 50px;
    box-shadow: -14px 11px 10px -4px rgba(0,0,0,0.33);
    }
    
    .usebtn{
        color: #fff;
        background-color: #ffc000;
        border-color: #ffc000;
        padding: 10px 30px;
        text-decoration: none;
    }