<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5>Welcome {{ currentUser.firstname }}</h5>
      </div>
      <div class="col-md-7">
        <div class="subnavbar">
          <div class="subnavbar-inner">
            <div class="container">
              <ul class="mainnav">
                <li><span (click)="setPageState('Add')">Add Resource</span></li>
                <li><span (click)="setPageState('View')">View Resource</span></li>
                <li><span (click)="setPageState('Account')">My Account</span></li>
                <li><span (click)="setPageState('Contact')">Contact Admin</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="user">
        <button class="btn btn-danger" (click)="LogOut()"> <i class="fa fa-user"></i> Logout</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-post-details *ngIf="pageState=='Add'" (stateChange)=getState($event)></app-post-details>
<app-user-subscription *ngIf="pageState=='View'"></app-user-subscription>
<app-contact-admin *ngIf="pageState=='Contact'"></app-contact-admin>
<app-confirmation *ngIf="pageState=='Confirmation'"></app-confirmation>