<table class="table">
  <tr>
    <th>Post Name</th>
    <th>Location</th>
    <th>Level</th>
    <th>Start Date</th>
    <th>Total Jobs</th>
    <th>Duration</th>
    <th>Created By </th>
    
  </tr>




  <tr *ngFor="let sub of subs$|async">
<td>{{sub.post.title}}</td>
<td>{{sub.location}}</td>

<td>{{sub.level}}    </td>
<td>{{sub.startDate|date}}</td>
<td>{{sub.totalJobs}}</td>
<td>{{sub.durationText}}</td>
<td>{{sub.user.email}}</td>
<td><button class="btn btn-primary">Edit</button></td>
  </tr>
</table>